# Unreal Engine plantilla oficial
Binaries/
DerivedDataCache/
Intermediate/
Saved/
AudioDirectory/
Build/
DataDrivenPlatformInfo/

# Carpetas de configuración locales y temporales
.idea/
.vscode/
.vs/
UnrealBuildTool/
ConsoleLogs/
Issues/

# Archivos de solución de código que se regeneran automáticamente
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb